html,
body {
    min-height: 2762px;
    min-width: 768px;
    margin: 0;
    padding: 0;
}

body{
    background: grey url("../Image/sedona-index.jpg") no-repeat 50% 3px;
    background-size: 768px auto;
}

.main-header {
    margin-bottom: 56px;
    width: 768px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 60px;
}

.main-navigator{
    padding: 0 50px;
    min-height: 60px;
}
