html,
body {
    min-height: 1750px;
    min-width: 1122px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #000000 url("../Image/tint.png") no-repeat center top;
    color: white;
}

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-header{
    margin-bottom: 60px;

    color: white;
    background-color: black;
}

.main-navigation {
    float: left;
    width: 780px;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;

    color: white;
    text-decoration: none;
}

.main-navigation a:hover {
    background: #242424;
}

.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
}
ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
.main-navigation li {
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.user-block {
    float: right;
    max-width: 140px;
}

.login {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: white;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;

    background: url("../Image/log.png") no-repeat;
    opacity: 0.3;
}
.login:hover::before{
    opacity: 1;
}
.index-logo {
    width: 368px;   /*размер картинки*/
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.feauters-item {
    float: left;
    width: 300px;
    margin-right: 20px;

    text-align: center;
}
.feauters {
    margin-bottom: 80px;
}

.feauters-item:last-child {
    margin-right: 0;
}

.feauters-name {
    position: relative;

    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;

    font-size: 30px;
    line-height: 42px;
}
.feauters-item p {
    margin: 10px;
    margin-bottom: 0;
}
.feauters-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: white;
    transform: rotate(45deg);
}

.index-content {
    padding: 52px 70px;
    margin-bottom: 35px;

    color: #000000;

    background:
        url("../Image/center.png") no-repeat center
        ,#f8f5f2 url("../Image/texture.png");
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}

.news-preview li {
    margin-bottom: 20px;
}

.news-preview p {
    margin-bottom: 0px;
}

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 10px 33px;
    margin-right: 16px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    font-family: 'PT Sans Narrow', "Arial", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.gallery {
    position: relative;

    height: 250px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.index-content-left {
    float:left;
    width: 380px;
    min-height: 330px;
}

.index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
}

.appointment-form input {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;

    width: 106px;
    padding: 7px 15px;

    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
    /* У каждого второго пля убрали отступ чтобы влез в сетку*/
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.main-footer {
    padding-top: 75px;
    padding-bottom:40px;
    margin-top: 65px;

    color: #ffffff;
    background: #252525;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 90px;
}
.footer-contacts a {
    color: white;
}

.footer-contacts a:hover {
    text-decoration: none;
}
.footer-social {
    float: left;
    width: 180px;

    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    /*Прячем текст*/
    font-size: 0;
    vertical-align:top;
    text-decoration: none;

    background: black;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}
